* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 90%;
    margin: auto;
    position: relative;
}

.orders_table {
    width: 100%;
}

.orders_table > caption {
    text-align: left;
    font-size: larger;
    margin-left: 1%;
}

tbody td {
    border: 1px solid #eee6f8;
}

tbody {
    border-top: none !important;
}

.orders_table, td, th {
    border-collapse: collapse;
    padding: 1%;
}

.orders_table > thead {
    border: 2px solid rgb(94, 94, 94);
    background: linear-gradient(rgb(164, 163, 179), rgb(82, 82, 119));
    color: white;
    text-align: left;
}

.orders_id {
    min-width: 7%;
}

.orders_table > tbody {
    background: #f5ffff;
}

#sorting_form {
    margin-top: 15px;
    margin-bottom: 5px;
    display: inline-block;
}


@media (min-width: 350px) and (max-width: 605px) {
    
    .container {
        width: 100%;
    }

    #sorting_form {
        margin-left: 10px;
    }

    .orders_id {
        width: 14%;
    }

    .orders_name, .orders_title, .orders_cost {
        width: 28.66%;
    }
}

input {
    display: inline-block;
}

#noSearchMatches {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    bottom: -50%;
    color: red;
    text-align: center;
}

@media (max-width: 389px) {
    #noSearchMatches {
        bottom: -100%;
    }
}